* {
    font-family: FiraCode Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12.4px;
}

window#waybar {
    background-color: transparent;
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
    background-color: rgba(17, 17, 27, 0.98);
    border: 1px solid #b4befe;
    border-radius: 0px;
    padding: 0;
}

tooltip label {
  font-size: 12.2px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#window {
  color: #FFFFFF;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #cdd6f4;
    border-bottom: 1px solid transparent;
}

#workspaces button.active {
  border-bottom: 1px solid #b4befe;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#bluetooth,
#clock,
#network {
    padding: 0px 8px;
    color: #cdd6f4;
    border-bottom: 1px solid #b4befe;
}

#network {
    padding: 0px 12px 0px 8px;
}

#bluetooth.off{
  color: #a6adc8;
}

#bluetooth.connected{
  color: #89b4fa;
}
